
.footer{
    background: #28c495;
    margin-top: -20px;;
}

.policies{    
    font-family: 'Times New Roman';
    font-size: 20px;
}

.keepintouch{
    margin-left: 650px;
    margin-bottom: 10px;
    font-family: 'Times New Roman';
    font-size: 20px;
}

.footer_image{
    margin-left: 18px;
}


