<div class="container color-light">
  <div class="col">
      <form [formGroup]="loginForm" novalidate>
      <table align="center">
          <label class="login_heading">GADGET SELECTION</label>
        </table>
        <table  align="center">
            <tr>
                <td><label class="label">To insure Mobile Phones</label><a routerLink="mobileSelect">click here</a></td>
                <td><label class="label">To insure Laptops </label><a routerLink="laptopSelect">click here</a></td>
            </tr>
            <tr>
              <td><img src="../assets/mobile.jpg" alt="mobile" class="mobile"/></td>
              <td><img src="../assets/laptop.jpg" alt="mobile" class="mobile"/></td>
            </tr>
        </table>
        </form>
    </div>
    </div>